<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingplusplus.android">

    <application android:allowBackup="true">
        <activity android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            ></activity>

        <service android:name="cmb.pb.cmbsafe.CmbService" android:exported="false">
        </service>
        <activity
            android:name="cmb.pb.ui.PBKeyboardActivity"
            android:theme="@style/CmbDialogStyleBottom" >
        </activity>

    </application>

</manifest>